@charset "UTF-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,a,span,blockquote,th,tr,td,label{font-size: 1.6rem;}
h1,h2,h3,h4,h5,h6,input,textarea,p,a,span,th,tr,td,button,select,label,div{font-family: 'NanumSquareNeo'; font-weight: 300;}
h1, h2, h3, h4, h5, h6, p{position: relative;z-index: 2}

@font-face {
    font-family: 'NanumSquareNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-weight: 100;
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Thin.otf') format('otf');
}
@font-face {
    font-weight: 200;
    font-family: 'Pretendard';
    src: url('../font/Pretendard-ExtraLight.otf') format('otf');
}
@font-face {
    font-weight: 300;
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Light.otf') format('otf');
}
@font-face {
    font-weight: 400;
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Regular.otf') format('otf');
}
@font-face {
    font-weight: 500;
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Medium.otf') format('otf');
}
@font-face {
    font-weight: 600;
    font-family: 'Pretendard';
    src: url('../font/Pretendard-SemiBold.otf') format('otf');
}
@font-face {
    font-weight: 700;
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Bold.otf') format('otf');
}
@font-face {
    font-weight: 800;
    font-family: 'Pretendard';
    src: url('../font/Pretendard-ExtraBold.otf') format('otf');
}
@font-face {
    font-family: 'Pretendard-Black';
    src: url('../font/Pretendard-Black.otf') format('otf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Thin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraLight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Heavy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Paybooc';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocLight.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Paybooc';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocMedium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocMedium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocMedium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocMedium.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Paybooc';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocBold.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Paybooc';
    font-weight: 800;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocExtraBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocExtraBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocExtraBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocExtraBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocExtraBold.ttf') format("truetype");
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
