@charset "UTF-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,tr,td,label{font-size: 1.6rem;}
h1,h2,h3,h4,h5,h6,input,textarea,p,a,span,th,tr,td,button,select,label,div{font-family: 'SUIT'; font-weight: 400; color: #333; letter-spacing: -0.3px;}
h1, h2, h3, h4, h5, h6, p{position: relative;z-index: 2}



