@charset "utf-8";

@import "font.css";

/* 초기화 */
*{word-break: keep-all !important;}
html {overflow-y:scroll; font-size: 0.85vw;background: #fff;font-family: 'Pretendard'; width: 100%;}
body {margin:0;padding:0;font-size:0.75em;background:#fff}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

ul, dl,dt,dd, li {margin:0;padding:0;list-style:none}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle;font-size:1em}
input, button {margin:0;padding:0;font-size:1em}
input[type="submit"] {cursor:pointer}
button {cursor:pointer}
table{border-collapse: collapse; border-spacing: 0 5px;}
textarea, select {font-size:1em}
select {margin:0; outline: none;}
option{outline: none;}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
a {color:#000;text-decoration:none}

*, :after, :before {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

input[type=text],input[type=password], textarea {
-webkit-transition:all 0.30s ease-in-out;
-moz-transition:all 0.30s ease-in-out;
-ms-transition:all 0.30s ease-in-out;
-o-transition:all 0.30s ease-in-out;
outline:none;
border: none;
}

mark { line-height: initial; }

.placeholdersjs {color:#aaa !important}
::-webkit-scrollbar {
    width:8px;height:8px;
  }
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius:4px;
    background-clip: padding-box;
  }

